@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

header img{             /*LOGO DO SITE*/
    width: 120px;  /*TAMANHO DO LOGO*/
    height: 120px;
    Display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       /*fonte dos links da barra de navegação*/
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}

header a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

.navegacao{            /*barra de NAVEGAÇÃO*/     
    padding: 20px;       /*caixa que mantem os links */
    margin-top: 50px;     /*afasta a caixa da tela superior*/
    margin-right: 70px;
}

.inicio h1{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;
    font-size: 30px;
}

.inicio h2{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.formulario{
    background-color: #dc6894;
    color: white;
    font-family: "Cinzel Decorative", serif;
    padding: 100px;
    margin: 50px;
    border-radius: 20px;
    flex-direction: column;
}

.formulario h2{
    font-size: 30px;
}

.formulario h3{
    font-size: 18px;
    font-weight: normal;
}

.caixa-form{
    display: flex;
    justify-content: center;
}

input{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    display: flex;
}

#servico{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    display: flex;  
}

#horario{
    text-align: center;
}

#mensagem{
    height: 200px;
    width: 430px;
}

#confirmar{
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       /*fonte do botão*/
    font-weight: 400;
    font-style: normal;
    background-color: #9e4b6a; /*cor do botão*/
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#limpar{
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       /*fonte do botão*/
    font-weight: 400;
    font-style: normal;
    background-color: #9e4b6a; /*cor do botão*/
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}

footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}

footer img{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-top: 100px;
}

.local{
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer{
    min-width: 370px;
    display: flex;
    justify-content: center;
}

.insta{
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}