@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}



header img{             /*LOGO DO SITE*/
    width: 120px;  /*TAMANHO DO LOGO*/
    height: 120px;
    Display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       /*fonte dos links da barra de navegação*/
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}

header a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

.navegacao{            /*barra de NAVEGAÇÃO*/     
    padding: 20px;       /*caixa que mantem os links */
    margin-top: 50px;     /*afasta a caixa da tela superior*/
    margin-right: 70px;
}

h1{
    font-family: "Cinzel Decorative", serif;       /*fonte do título da página*/
    text-align: center;
    font-size: 47px;
    color: #dc6894;
}

.layla{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.layla img{
    width: 350px;
    height: 500px;
    margin-right: 60px;
    border-radius: 20px;
}

.layla p{
    background-color: black;
    color: white;
    margin-bottom: 50px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    font-family: "Cinzel Decorative", serif;       /*fonte do título da página*/
    text-align: center;
    padding: 50px;
}

.kyara{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.kyara img{
    width: 350px;
    height: 500px;
    margin-right: 60px;
    border-radius: 20px;
}

.kyara p{
    background-color: #dc6894;
    color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    font-family: "Cinzel Decorative", serif;       /*fonte do título da página*/
    text-align: center;
    padding: 50px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}

footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}

footer img{
    width: 120px;
    height: 120px;
    margin-right: 100px;
    margin-top: 100px;
}

.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}












































/*.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

*/