@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
.cabecalho{
    display: flex;
    height: 100px;
    justify-content: space-around;
    text-decoration: none;

}

.logo{             /*LOGO DO SITE*/
    width: 100px;  /*TAMANHO DO LOGO*/
    height: 100px;
    Display: flex;
}
.navegacao{            /*barra de NAVEGAÇÃO*/
    display: flex;     
    width: 70%;
    background-color:#dc6894;  /*cor da barra de navegação*/
    justify-content: space-between;
    padding: 25px;       /*caixa que mantem os links */
    margin-top: 40px;     /*afasta a caixa da tela superior*/
    margin-bottom: 50px;

}
.navegacao a{          /*links da barra de navegação*/
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    font-family: "Cinzel Decorative", serif;       /*fonte dos links da barra de navegação*/
    font-weight: 400;
    font-style: normal;
}






.container{               /* */

    display: flex;
    align-items: center;
    gap: 20px;   /*ese daqui e o espaco entre A IMAGEM E O TEXTO*/
}

#LAILA-img{                /*FOTO DE LAILA*/
    margin-top: 80px;
    margin-left: 20px;
}

/*TEXTO e imagens DA PAGINA PRINCIPAL */

#historia{                     /*historia de laila*/
    padding: 230px;           /*ele tem que tener um padding para nao ficar colado no nome*/
    height: 80px; 
    margin-top: 80px;          /*afastadores*/
    margin-bottom: 1px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: #040404; /*cor do fondo das letras da historia*/
    color: #f6f2f4;
    text-align: start;
    font-family: "Cinzel Decorative", serif;  /*fonte*/
    font-weight: 700;
    font-style: normal;

}
#texto{     /*esta es la parte na que fica o texto de KIARA NAIL*/
    padding: 230px;           /*ele tem que tener um padding para nao ficar colado no nome*/
    height: 80px;             
    margin-top: 80px;          /*afastadores*/
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 30px;
    background-color: #dc6894; /*cor do fondo das letras da historia*/
    color: #f6f2f4;
    text-align: start;
    font-family: "Cinzel Decorative", serif;  /*fonte*/
    font-weight: 700;
    font-style: normal;
}







































/*.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

*/