@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

header img{             /*LOGO DO SITE*/
    width: 120px;  /*TAMANHO DO LOGO*/
    height: 120px;
    Display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       /*fonte dos links da barra de navegação*/
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}

header a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

.navegacao{            /*barra de NAVEGAÇÃO*/     
    padding: 20px;       /*caixa que mantem os links */
    margin-top: 50px;     /*afasta a caixa da tela superior*/
    margin-right: 70px;
}

.caixa-inicio{
    display: flex;
    justify-content: center;
}

#inicio{

    background-image: url("./imagens/Banner\ bom.jpeg");
    background-size: cover;
    background-position: center bottom; 
    height: 400px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}


#inicio p{
    color: white;
    font-size: 24px;
    font-family: "Cinzel Decorative", serif;       /*fonte do slogan*/
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 120px;

}

.botao-inicio{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#inicio button{
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       /*fonte do botão*/
    font-weight: 400;
    font-style: normal;
    background-color: #dc6894; /*cor do botão*/
    color: white;
    border: none;
    cursor: pointer;
}

#inicio button a{
    text-decoration: none;
}

#inicio button:hover{
    background-color: #c15a7e; /*cor do botão quando o mouse passa por cima*/
    transform: translateY(-5px);
    transition: 0.5s;
}

#introducao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 70px;
}

#introducao img{                            
    width: 400px;
    height: 500px;
    box-shadow: -36px 33px 0px 10px #dc6894;
    -webkit-box-shadow: -36px 33px 0px 10px #dc6894;
}
 
#introducao h2{
    font-size: 30px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
} 

#introducao p{
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       /*fonte do texto de introdução*/
    font-weight: 400;
    font-style: normal;
    color: white;
}

#caixa-sobre{
    background-color: #dc6894;
    text-align: center;
    padding: 50px;
    width: 40%;
    height: 300px;
    border-radius: 20px;
}

.caixa-servicos{
    display: flex;
    justify-content: center;
}

#servicos{
    background-color: #dc6894;
    width: 80%;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#servicos h2{
    font-size: 30px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: white;
}

#servicos h3{
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
}

#servicos img{
    width:280px;
    height: 300px;
}

#servicos img:hover{
    transform: translateY(-10px);
    transition: 0.5s; 
}

.galeria-servicos{
    display: flex;
    flex-wrap: wrap;
}

.hover{
    position: relative;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
        
}

.texto-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    filter: opacity(0);
    transition: 0.5s;
    
}

.hover:hover > .texto-hover{
    filter: opacity();
}

.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}

footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}

footer img{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-top: 100px;
}

.local{
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer{
    min-width: 370px;
    display: flex;
    justify-content: center;
}

.insta{
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}

