@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
.cabecalho{
    display: flex;
    height: 100px;
    justify-content: space-around;
    text-decoration: none;

}
.logo{             /*LOGO DO SITE*/
    width: 100px;  /*TAMANHO DO LOGO*/
    height: 100px;
    Display: flex;

}
.navegacao{            /*barra de NAVEGAÇÃO*/
    display: flex;     
    width: 70%;
    background-color:#dc6894;  /*cor da barra de navegação*/
    justify-content: space-between;
    padding: 25px;       /*caixa que mantem os links */
    margin-top: 40px;     /*afasta a caixa da tela superior*/
    margin-bottom: 50px;

}
.navegacao a{          /*links da barra de navegação*/
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    font-family: "Cinzel Decorative", serif;       /*fonte dos links da barra de navegação*/
    font-weight: 400;
    font-style: normal;
}









.container{
    display: flex;
    align-items: center;
    gap: 20px;   /*ese daqui e o espaco entre A IMAGEM E O TEXTO*/
}

.KIARAFOTO{                /*FOTO DE KYARA NAILS*/
    margin-top: 80px;
    margin-bottom: 50px;
}

#nome{                        /*nome da manicurista*/
    color: #dc6894;
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;

}

#slogan{                     /*slogan das unhas*/
    padding: 20px;           /*ele tem que tener um padding para nao ficar colado no nome*/
    height: 80px; 
    margin-top: 60px;          /*se afasta da parte superior*/
    margin-bottom: 70px;
    background-color: #dc6894; /*cor do fondo do slogan*/

    text-align: center;
    color: #f6f2f4;
    font-family: "Cinzel Decorative", serif;  /*fonte do slogan*/
    font-weight: 700;
    font-style: normal;

}







#unhas{              /*fotos das unhas e posicionamento delas*/
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*dos columnas iguais! WoW*/
    gap: 100px;                            /*afastador maestro*/

    width: 80%;
    margin: auto;
}

#unhas img{             /*aqui eu preciso colocar shadow e tentar que elessejam independentes*/
    width: 100%;
    height: auto;
    border-radius: 10px; 
    transition: 0.3s;
}
#unhas img:hover{
    transform: scale(1.05);  /*aqui eu preciso colocar um shadowque so se vera cuando o maus passar nela*/

}


















































/*.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}
*/