@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
.cabecalho{
    display: flex;
    height: 100px;
    justify-content: space-around;
    text-decoration: none;
}

.logo img{             /*LOGO DO SITE*/
    width: 100px;  /*TAMANHO DO LOGO*/
    height: 100px;
    Display: flex;
    margin-top: 20px;
}

.navegacao a{          /*links da barra de navegação*/
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    font-family: "Cinzel Decorative", serif;       /*fonte dos links da barra de navegação*/
    font-weight: 400;
    font-style: normal; 
}

.container{
    display: flex;
    align-items: center;
    gap: 20px;   /*ese daqui e o espaco entre A IMAGEM E O TEXTO*/
}

.KIARAFOTO{                /*FOTO DE KYARA NAILS*/
    margin-top: 80px;
    display: block;         /*elimina espacos */
    line-height: 0;         /*quita o espaco horizontal restante*/
}

#nome{                        /*nome da manicurista*/
    color: #dc6894;
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;

}

#slogan{                     /*slogan das unhas*/
    padding: 20px;           /*ele tem que tener um padding para nao ficar colado no nome*/
    height: 80px; 
    margin-top: 60px;          /*se afasta da parte superior*/
    margin-bottom: 70px;
    background-color: #dc6894; /*cor do fondo do slogan*/

    text-align: center;
    color: #f6f2f4;
    font-family: "Cinzel Decorative", serif;  /*fonte do slogan*/
    font-weight: 700;
    font-style: normal;

}

.linha-horizontal{         /*linha horizontal que separa a foto do texto*/
    border:none;
    height: 10px;           /*isso aqui funciona como um padding na linha horizontal*/
    width: 100vw;
    background-color: #dc6894;
    margin: 0;
   
}

.unhas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);    /* dois colunas iguais */
  gap: 100px;  /* espaço entre as imagens */
  width: 80%;
  margin: auto;/* centraliza o bloco */
}

.unhas img {
  width: 100%;
  height: auto;

  border-radius: 12px;

  /* sombra */
  box-shadow:
    -10px 10px 0px rgba(0, 0, 0, 0.15),
    0 12px 35px rgba(0, 0, 0, 0.25);

  transition: all 0.35s ease;
}

.unhas img:hover {     /* cambia cuando passa o maus,*/
  transform: translateY(-8px) scale(1.05);
  box-shadow:-14px 14px 0px rgba(255, 105, 180, 0.25),
  0 18px 45px rgba(0, 0, 0, 0.35);
}



























