@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

header img{             /*LOGO DO SITE*/
    width: 120px;  /*TAMANHO DO LOGO*/
    height: 120px;
    Display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       /*fonte dos links da barra de navegação*/
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}

header a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

.navegacao{            /*barra de NAVEGAÇÃO*/     
    padding: 20px;       /*caixa que mantem os links */
    margin-top: 50px;     /*afasta a caixa da tela superior*/
    margin-right: 70px;
}








.introducao{
    display: flex;
    justify-content: center;
}

.introducao img{                
    width: 500px;
}

.caixa-texto{
    display: flex;
    justify-content: center;
}

.texto{
    padding: 20px;
    font-family: "Cinzel Decorative", serif;       /*fonte do texto da introdução*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: #dc6894;
}

.texto h3{
    background-color:#dc6894;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    width: 400px;
    font-size: 18px;
    border-radius: 20px;
   
}

.texto h4{
    text-decoration: none;
    font-size: 18px;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;       /*fonte dos links da barra de navegação*/
    font-weight: 400;
    font-style: normal;/*VVVVV*/
}



.servicos{
    display: flex;
    justify-content: center;
}

.servicos h2{
    font-style: normal;
    font-weight: normal;
    font-family: "Cinzel Decorative", serif;
    font-size: 18px;
}

.texto-servicos{
    font-family: "Cinzel Decorative", serif;
    font-size: 18px;
    padding: 50px;  
    font-weight: normal;     
    text-align: center;
    background-color: #dc6894;
    color: white;
    margin: 100px;
    width: 400px;
    border-radius: 20px;
}  

.servicos img{
    width: 400px;
    height: 400px;
    margin-top: 143px;
    border-radius: 20px;
}

.servicos img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

ul {
  text-align: left; 
  list-style: none; 
}

.galeria h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Cinzel Decorative", serif;
    font-style: normal;
}

.galeria-imagens{
    display: flex;
    gap: 20px;
}

.galeria-imagens img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.galeria-imagens img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}

footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}

footer img{
    width: 120px;
    height: 120px;
    margin-right: 100px;
    margin-top: 100px;
}

.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}

footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}

footer img{
    width: 120px;
    height: 120px;
    margin-right: 100px;
    margin-top: 100px;
}

.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}
footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}

footer img{
    width: 120px;
    height: 120px;
    margin-right: 100px;
    margin-top: 100px;
}

.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}

footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}
footer img{
    width: 120px;
    height: 120px;
    margin-right: 100px;
    margin-top: 100px;
}

.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}

footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}

footer img{
    width: 120px;
    height: 120px;
    margin-right: 100px;
    margin-top: 100px;
}
.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}
.rodape{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
}

footer h2{
    font-size: 20px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: bold;
    font-style: normal;
    color: #dc6894;
    margin-top: 100px;
}

footer img{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-top: 100px;
}

.local{
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer{
    min-width: 370px;
    display: flex;
    justify-content: center;
}

.insta{
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direitos{
    text-align: center;
    color: #dc6894;
    font-family: "Cinzel Decorative", serif;   
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a:hover{
    color: #dc6894; /*cor do link quando o mouse passa por cima*/
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Cinzel Decorative", serif;       
    font-weight: 400;
    font-style: normal;
    color: black;
}

@media (max-width:1320px){
    .galeria-imagens{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    
}

@media (max-width:870px){
    .texto-servicos{
        margin: 20px;
    }
    .galeria-imagens{
        flex-wrap: wrap;
        justify-content: center;
    }
    .rodape{
        flex-direction:column;
        align-items:center;
        text-align:center;
        gap:30px;
    }
   
    .introducao{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navegacao{
        margin-right: 20px;
    }

}
@media (max-width:767px){ /*isso é para celular*/
    .introducao{
        flex-wrap: wrap;
        justify-content: center;
    }
    .rodape{
        flex-direction:column;
        align-items:center;
        text-align:center;
        gap:30px;
    }
    .servicos{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

}

